.cocktails-box {
	text-align: center;
}

.cocktails-list {
	margin: 20px 0 40px;
	text-align: left;
}

.cocktails-desc {
	margin-bottom: 20px;
}

p.cocktail-name {
	color: $purple;
	font-size: 2rem;
}