$dk-grey: #575757;
$md-grey: #B8B8B8;
$lt-grey: #ECECEC;
$purple: #361162;

section.cocktails {
	background: $lt-grey;
	position: relative;
	z-index: -2;
}

.cocktails-box {
	text-align: center;
	// background: $lt-grey;
}

.cocktails-list {
	margin: 20px 0 40px;
	text-align: left;
}

.cocktails-desc {
	margin-bottom: 20px;
}

p.cocktail-name {
	color: $purple;
	font-size: 2rem;
}

p.cocktail-size {
	margin-top: 5px;
}

.namesize {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
