section.contact {
	background: $purple;
}

.map {
	@include column(8);
}

.map-right {
	@include column(4);
}

.overlay {
   background:transparent; 
   position:relative; 
   width: 100%;
   margin: 0;
   height:400px; /* your iframe height */
   top:400px;  /* your iframe height */
   margin-top:-400px;  /* your iframe height */
}

address p, .map-right a {
	font-family: "Roboto Slab", serif;
	font-style: normal;
	color: white;
}

address {
	margin-bottom: 20px;
}

a.email:hover {
	color: $md-grey;
}

.social {
	margin-top: 30px;
}

.social .fa {
	font-size: 4rem;
	transition: 0.2s;
	&:hover {
		color: $md-grey;
	}
}

.social li {
	float: left;
	margin-right: 20px;
}


/*
====================================
Media Queries
====================================
*/

@media all and (max-width: 720px) {
	.map {
		@include column(12);
	}

	.map-right {
		@include column(12);
		text-align: center;
		margin-top: 30px;
	}

	ul.social {
		margin-bottom: 0;
	}

	.social li {
		display: inline;
		float: none;
	}

}


