.food-box {
	text-align: center;
	// background: $lt-grey;
}

.food-list {
	margin: 20px 0 40px;
	text-align: left;
}

.food-desc {
	margin-bottom: 20px;
}

p.food-name {
	color: $purple;
	font-size: 2rem;
}

p.food-price {
	margin-top: 5px;
}

.namesize {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}