$black: #000000;
$dk-grey: #575757;
$md-grey: #B8B8B8;
$lt-grey: #ECECEC;
$purple: #361162;

a {
	color: white;
	text-decoration: none;
	&:hover {
		color: $lt-grey;
	}
}

/* paragraphs */

p {
	font-family: 'Roboto Slab', serif;
	line-height: 1.5;
	color: $dk-grey;
	margin: 0;
}

/* headers */
h1 {
	margin: 0;
	font-family: 'Roboto Slab', sans-serif;
	font-size: 9rem;
}

h2 {
	margin: 0;
	padding: 0;
	font-family: 'Dancing Script', 'Roboto Slab', sans-serif;
	font-size: 7rem;
	color: white;
	// text-shadow: 2px 2px  10px $purple;
}

h3 {
	font-family: "Dancing Script", "Roboto Slab", sans-serif;
	font-size: 3rem;
	text-align: center;
	color: $purple;
	position: relative;
	z-index: -1;
	display: inline-block;
	margin: 0;
}

h3::before {
	content: "";
	position: absolute;
	top: 20px;
	left: -65px;
	border-bottom: 2px dotted $purple;
	width: 50px;
}

h3::after {
	content: "";
	position: absolute;
	top: 20px;
	right: -65px;
	border-bottom: 2px dotted $purple;
	width: 50px;
}

/*blockquotes*/

blockquote {
	background: #F7F7F7;
	margin: 0;
	padding: 20px;
	p {
		margin-top: 0;
	}
}

/*tables*/

table {
	td {
		padding: 10px;
	}
	tr td:first {
		padding-right: 0;
	}
}

/*def lists*/

dt {
	font-weight: 600;
	padding-bottom: 5px;
}

dd {
	padding: 10px;
	margin-left: 10px;
}

/*lists*/

ul li, ol li {
	padding: 0;
	margin: 0;
	font-family: "Roboto Slab", serif;
	line-height: 1.5;
	color: $dk-grey;
}

ul {
	padding: 0;
	margin: 10px 0 30px;
}

li {
	list-style-type: none;
}

/*PRE*/

pre {
	background: #F7F7F7;
	padding: 10px;
	border-radius: 4px;
	border: 1px solid #ccc;
}


/*
====================================
Global Classes / Wordpress Specific
====================================
*/

.aligncenter {
	text-align: center;
	margin: 0 auto;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

img {
	&.alignleft {
		padding-right: 5px;
	}
	&.alignright {
		padding-left: 5px;
	}
}

.clear {
	width: 100%;
	float: left;
	clear: both;
}


/*
====================================
Media Queries
====================================
*/

@media all and (max-width: 400px) {

	h1 {
		font-size: 7rem;
	}

}